@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    display: block;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
}