@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


body {
    background-color: white;
}

header {
    background-color: black;
    height: 250px;
    margin: -8px -8px 0px -8px;
    text-align: center;
    color: white;
}

p {
    padding-left: 16px;
    font-size: 1.6em;
}

h1 {
    padding-top: 70px;
    font-family: "passion one";
    font-size: 4em;
    margin: 0px;
    font-variant: small-caps;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    font-family: "sriracha";
    height: 75vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

article p {
    font-size: 1.5em;
}

#ft1 {
    display: flex;
    justify-content: left;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px -8px 0px -8px;
    box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.601) inset;
}

#ft1 p {
    width: 45%;
    height: 55%;

    background-color: rgba(0, 0, 0, 0.274);
       
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
    padding: 15px 0px 15px 10px;  
    margin-left: 13px; 
}

#espaco {
    padding: 100px 0px 130px;
}

#ft2 {
    display: flex;
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.578) inset;
    margin: 0px -8px 0px -8px;
}

#ft2 p {
    width: 45%;
    height: 55%;

    background-color: rgba(0, 0, 0, 0.274);

    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.71);
    padding: 15px 0px 15px 10px;
    margin-left: 13px;
}

footer {
    height: 30px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 0px -8px -14px -8px;
    
}

footer p {
    padding: 6px 0px 6px 0px;
    font-size: 0.9em;
}